@model IEnumerable<Core.DTO.LocalDTO>

@{
    ViewData["Title"] = "Listar Local";
    Layout = "_LayoutDashboard";
}

<table class="table">
    <thead>
        <tr>
            <th>
                Nº Cadastral
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bairro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                Estado
            </th>
            <th>
                Organizãção
            </th>
            <th>
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdLocal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rua)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bairro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Uf)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeOrganizacao)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.IdLocal }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.IdLocal }) |
                    @Html.ActionLink("Remover", "Delete", new { id = item.IdLocal })
                </td>
            </tr>
        }
    </tbody>
    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="8" class=" text-center">
                <h4 class="p-5">Não foram encontrados registros no momento.</h4>
            </td>
        </tr>
    }
</table>