<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewData["Title"] | Início </title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Font Awesome -->
    <link href="~/lib/gentelella/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress --
    <link href="~/lib/gentelella/vendors/nprogress/nprogress.css" rel="stylesheet"> -->
    <!-- Custom Theme Style -->
    <link href="~/lib/gentelella/build/css/custom.css" rel="stylesheet">

    <!-- Animate -->
    <link href="~/lib/gentelella/vendors/animate.css/animate.min.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="../assets/js/ie8-responsive-file-warning.js"></script>
    <![endif]-->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index.html" class="site_title">
                            <span>SOS Cidadão</span>
                        </a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="~/img/perfil/img.jpg" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Bem-vindo,</span>
                            <h2>Marcos Dósea</h2>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-home"></i> Pessoa <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("Listar", "Index", "Pessoa")</li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-home"></i> Ocorrencia <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("Listar", "Index", "Ocorrencia")</li>
                                        <li>@Html.ActionLink("Criar", "Create", "Ocorrencia")</li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-home"></i> Tipo Ocorrencia <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("Listar", "Index", "Tipoocorrencia")</li>
                                        <li>@Html.ActionLink("Criar", "Create", "Tipoocorrencia")</li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-home"></i> Pertence <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("Listar", "Index", "Pertence")</li>
                                        <li>@Html.ActionLink("Criar", "Create", "Pertence")</li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-home"></i> Tipo Pertence <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("Listar", "Index", "Tipopertence")</li>
                                        <li>@Html.ActionLink("Criar", "Create", "Tipopertence")</li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-home"></i> Organização <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("Listar", "Index", "Organizacao")</li>
                                        <li>@Html.ActionLink("Criar", "Create", "Organizacao")</li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-home"></i> Comentario <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("Listar", "Index", "Comentario")</li>
                                        <li>@Html.ActionLink("Criar", "Create", "Comentario")</li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-home"></i> Local <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("Listar", "Index", "Local")</li>
                                        <li>@Html.ActionLink("Criar", "Create", "Local")</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout" asp-controller="Home" asp-action="index">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <nav class="nav navbar-nav">
                        <ul class=" navbar-right">
                            <li class="nav-item dropdown open" style="padding-left: 15px;">
                                <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                    <img src="~/img/perfil/img.jpg" alt="">Marcos Dosea
                                </a>
                                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="javascript:;"> Profile</a>
                                    <a class="dropdown-item" href="javascript:;">
                                        <span class="badge bg-red pull-right">50%</span>
                                        <span>Settings</span>
                                    </a>
                                    <a class="dropdown-item" href="javascript:;">Help</a>
                                    <a class="dropdown-item" href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                                </div>
                            </li>

                            <li role="presentation" class="nav-item dropdown open">
                                <a href="javascript:;" class="dropdown-toggle info-number" id="navbarDropdown1" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="badge bg-green">4</span>
                                </a>
                                <ul class="dropdown-menu list-unstyled msg_list" role="menu" aria-labelledby="navbarDropdown1">
                                    <li class="nav-item">
                                        <a class="dropdown-item">
                                            <span class="image"></span>
                                            <span>
                                                <span>Wedson</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Commit and Merge
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item">
                                            <span class="image"></span>
                                            <span>
                                                <span>Luiz</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Commit and Merge
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item">
                                            <span class="image"></span>
                                            <span>
                                                <span>Roberto</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Commit and Merge
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item">
                                            <span class="image"></span>
                                            <span>
                                                <span>Dryelle</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Commit and Merge
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>@ViewBag.title_pag</h3>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12  ">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>@ViewBag.path</h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li>
                                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    @RenderBody()
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    SOS Cidadão - &copy; 2020
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    <!-- jQuery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick
    <script src="~/lib/gentelella/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress
    <script src="~/lib/gentelella/vendors/nprogress/nprogress.js"></script>-->
    <!-- Custom Theme Scripts -->
    <script src="~/lib/gentelella/build/js/custom.min.js"></script>
    <script src="~/js/criar_conta.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>