@model IEnumerable<SosCidadaoWeb.Models.PessoaModel>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutDashboard";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.idPessoa)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Cep)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.TipoPessoa)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.StatusPessoa)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.IdOrganizacao)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idPessoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoPessoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusPessoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdOrganizacao)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.idPessoa }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.idPessoa }) |
                @Html.ActionLink("Deletar", "Delete", new { id = item.idPessoa })
            </td>
        </tr>
        }
    </tbody>
</table>
